<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= item.name %>
    </h4>
    <small>
      <%= distance_of_time_in_words(item.created_at, Time.now) %> since item was created.
    </small>
  </div>
</div>
