<h1>
  <%= @user.email %>
</h1>
<br>
<div class="container">
  <h3>To-Do Items:</h3>
  <%= render @user.items %>
</div>
<br>
<div class="container">
  <%= link_to "New Item", new_user_item_path(@user), class: 'btn btn-success' %>
</div>